.wrapper {
    padding:rem(100);
}



.detail {
    background-color:$blue;
    padding: rem(20);
    border-radius:rem(10);
    margin-top: rem(30);
    -webkit-box-shadow: -4px 4px 71px -10px rgba(151,200,74,0.50);
    -moz-box-shadow: -4px 4px 71px -10px rgba(151,200,74,0.50);
    box-shadow: -4px 4px 71px -10px rgba(151,200,74,0.50);
  

    @include tablet {
        display: flex;
        flex-direction: row;
        
    }

    &__image {
        width: rem(200);
        border-radius: rem(10);
        -webkit-box-shadow: 10px 10px 40px -10px rgba(250, 250, 250, 0.5);
        -moz-box-shadow: 10px 10px 40px -10px rgba(250, 250, 250, 0.5);
        box-shadow: 10px 10px 40px -10px rgba(250, 250, 250, 0.5);
       
       
    }

    &__assets {
        text-align: left;

        @include tablet {
            margin-left: rem(20);
            margin-right: rem(20);
            
        }

        &--title {
            font-family: $title;
            font-size: rem(20);
            font-weight: 600;
            color:$light-green;
        }
        &--status, &--specie, &--episode, &--origin {
            font-family: $title;
            font-size: rem(14);
            font-weight: 300;
            color: $light-green;
            margin:0;
            line-height: rem(20);
        }


    }
 
   
}

.link {

    font-family: $title;
    color: white;
    font-size:rem(15);
    background-color: $blue;
    padding: rem(5);
    border-radius: rem(10);
    text-align: right;
    
}

.link:hover {
    cursor:pointer;
    
}