.content {
    display:flex;
    justify-content: center;
    margin: 5px;

    &__form {

        margin: rem(10);

        &--input {
            padding: rem(10);
            width: rem(250);
            height: rem(30);
            border: rem(1) solid $border-input;
            border-radius: rem(15);
            background-color: $color-input;
            font-family: $font;
            font-weight: 300;
            color: rgb(119, 119, 119);

            &:focus {
                border: rem(3) solid $blue;
            }
            


        }

    }
}
