.wrapper__list {
    padding: rem(20);
    margin:(20);
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
    grid-gap: 5px;
  
    @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;        
    }
     @include desktop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-gap: 5px;        
    }
    @include desktop-large {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-gap: 5px; 

    }
}

.wrapper__character {
    padding: rem(20);
    background-color: $blue;
    margin: rem(30) rem(20);
    border-radius: rem(5);
    max-width: rem(240);
    text-align: center;
    -webkit-box-shadow: -4px 4px 71px -10px rgba(151,200,74,0.50);
    -moz-box-shadow: -4px 4px 71px -10px rgba(151,200,74,0.50);
    box-shadow: -4px 4px 71px -10px rgba(151,200,74,0.50);

    &--image {
        width: rem(200);
        height: rem(200);
        border-radius: 50%;
        margin-bottom: rem(25);
        margin-top: rem(-50);
        -webkit-box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.5);
        -moz-box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.5);
        box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.5);

        &:hover{
            transform:scale(1.05);
            transition: transform ease-out 0.5s;
        }
   }

    &--name {
        font-family: $title;
        font-size: rem(20);
        font-weight: 600;
        color: $light-green;
        margin: rem(0);
    }
    
    &--specie {
        font-family: $title;
        font-size: rem(20);
        font-weight: 300;
        color: $light-green;
        margin: rem(0)
    }

}