.wrapper__list {
    padding: rem(20);
    margin:(20);
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
    grid-gap: 5px;
  
    @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;        
    }
     @include desktop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;        
    }
}

.wrapper__character {
    padding: rem(20);
    background-color: $blue;
    margin: rem(20);
    border-radius: rem(5);
    max-width: rem(240);
    text-align: left;

    &:hover {
        transform: scale(1);
    }
   

    &--image {
        width: rem(200);
        height: rem(200);
        border-radius: 50%;
        margin-bottom: rem(25);
    }

    &--name {
        font-family: $title;
        font-size: rem(20);
        font-weight: 600;
        color: $light-green;
        margin: rem(0);
    }
    &--specie {
        font-family: $title;
        font-size: rem(20);
        font-weight: 300;
        color: $light-green;
        margin: rem(0)
    }

}