$defaultFontSize: 16;
$black: rgb(78, 78, 78);
$border-input: rgb(156, 155, 155);
$color-input: rgb(211, 209, 209);
$blue: #1FB0C7;
$blue-light: rgb(117, 235, 253);
$light-green: rgb(177, 226, 99);
$title: 'Oswald', sans-serif;
